/*MY FONTS ===================== */

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-BoldItalic.eot');
    src: local('Verdana Bold Italic'), local('Verdana-BoldItalic'),
    url('../fonts/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-BoldItalic.woff') format('woff'),
    url('../fonts/Verdana-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: local('Verdana'),
    url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
    url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Italic.eot');
    src: local('Verdana Italic'), local('Verdana-Italic'),
    url('../fonts/Verdana-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Italic.woff') format('woff'),
    url('../fonts/Verdana-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*BACKGROUND IMAGE =================*/

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg-img.png");
}

/*POSITION =============== */

.vertical-align-baseline {
    vertical-align: bottom;
}

.text-center {
    text-align: center;
}

/*CLEARFIX =============== */

.clearfix {
    clear: both;
}

/*CONTAINER ==================== */

.container {
    width: 1300px;
    margin: 0 auto;
}

/*CSS SPRITES =====================*/

.ic-forum, .ic-journey, .ic-calendar
{ background: url('../img/css_sprites.png') no-repeat; }

.ic-forum { background-position: -0px -0px; width: 28px; height: 20px; }
.ic-journey { background-position: -0px -40px; width: 20px; height: 20px; }
.ic-calendar { background-position: -0px -80px; width: 19px; height: 19px; }

.ic-forum:hover
{ background-position: -0px -20px; width: 28px; height: 20px; }

.ic-journey:hover
{ background-position: -0px -60px; width: 20px; height: 20px; }

.ic-calendar:hover
{ background-position: -0px -99px; width: 19px; height: 19px; }

/*HEADER ======================*/

.journey-header {
    background-color: rgba(13, 13, 13, 0.42);
    padding: 19px 0;
}

.header-logo-title{
    float: left;
}

.header-logo-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Verdana", sans-serif;
}

.header-logo-link:hover {
    color: #3cb878;
}

.header-icon-list {
    float: right;
    position: relative;
}

.header-icon-link {
    display: inline-block;
    margin-right: 28px;
}

.header-icon-link:nth-child(3) {
    margin-right: 22px;
}

.header-login::before {
    border-left: 1px solid rgba(49, 47, 47, 0.91);
    content: '';
    position: relative;
    right: 28px;
    top: 2px;
}

.header-login {
    display: inline-block;
    padding-left: 28px;
    position: relative;
    bottom: 5px;
}

.header-login-text {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.login-link {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}

.login-link:hover {
    border-bottom: 1px solid #3cb878;
}

/*LOGIN BLOCK ====================*/

.login-block {
    height: 41em;
    position: relative;
}

.login-block-container {
    background-color: #ffffff;
    padding: 29px 63px 30px;
    width: 322px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.75);
}

.login-block-container::before {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #329a65;
    content: '';
    left: 0;
    top: 31px;
}

.login-user-title {
    margin-bottom: 20px;
    position: relative;
}

.login-block-sign {
    float: left;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    text-transform: capitalize;
    color: #434343;
}

.login-block-login {
    float: right;
}

.login-block-btn {
    margin-bottom: 33px;
}

.facebook-ico-btn {
    margin-right: 36px;
    position: relative;
 }

.facebook-ico-btn::after {
    content: '';
    position: absolute;
    border-right: 1px solid #224387;
    display: inline-block;
    left: 27px;
    height: 28px;
    top: -6px;
}

.google-ico-btn {
    margin-right: 36px;
    position: relative;
}

.google-ico-btn::after {
    content: '';
    position: absolute;
    border-right: 1px solid #af3a28;
    display: inline-block;
    left: 27px;
    height: 28px;
    top: -6px;
}

.login-facebook-btn {
    display: inline-block;
    text-decoration: none;
    width: 156px;
    background-color: #305db8;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    text-align: center;
    margin-right: 5px;
}

.login-facebook-btn:hover {
    background-color: #264b96;
}

.login-google-btn {
    display: inline-block;
    text-decoration: none;
    width: 156px;
    background-color: #df4a32;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    text-align: center;
}

.login-google-btn:hover {
    background-color: #c3412c;
}

.login-block-or {
    width: 322px;
    position: relative;
    margin-bottom: 15px;
}

.login-or-text {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    color: #848484;
    position: relative;
    bottom: 2px;
}

.login-hr-left {
    float: left;
}

.login-hr-right {
    float: right;
}

.login-hr-left, .login-hr-right {
    display: inline-block;
    border: none;
    height: 1px;
    background-color: #eaeaea;
    width: 132px;
}

.login-block-form {
    width: 322px;
    padding: 15px 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
}

.login-block-form:hover {
    box-shadow: 0 4px 9px 0 rgba(232,232,232,1);
    border: 1px solid #ffffff;
}

::-webkit-input-placeholder {
    color: #bebebe;
}

.login-checkbox-form {
    position: relative;
    margin-bottom: 17px;
}

.checkbox-login-block {
    position: relative;
    top: 1px;
}

.checkbox-form-text {
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    color: #434343;
}

.checkbox-text-green {
    color: #3cb878;
}

.login-checkbox-label {
    cursor: pointer;
}

.login-checkbox-label:hover .checkbox-text-green {
    border-bottom: 1px solid #b1e3c9;
}

.create-account-btn {
    width: 322px;
    padding: 15px 0;
    box-sizing: border-box;
    border: 1px solid #3cb878;
    border-radius: 4px;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    font-family: "Verdana", sans-serif;
}

.create-account-btn:hover {
    background-color: #329a65;
    cursor: pointer;
}

